Assignment1/AssignmentClient/Connected Services/Assignment1Reference/Assignment1Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checkPrime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPrimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joinStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>