Assignment1/AssignmentClient/Connected Services/Assignment1Reference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50418/Assignment1Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50418/Assignment1Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignment1Service_checkPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPrime" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_checkPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sumDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:sumDigits" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_sumDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_reverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:reverseString" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_reverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_joinString_InputMessage">
    <wsdl:part name="parameters" element="tns:joinString" />
  </wsdl:message>
  <wsdl:message name="IAssignment1Service_joinString_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignment1Service">
    <wsdl:operation name="checkPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/checkPrime" message="tns:IAssignment1Service_checkPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/checkPrimeResponse" message="tns:IAssignment1Service_checkPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sumDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/sumDigits" message="tns:IAssignment1Service_sumDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/sumDigitsResponse" message="tns:IAssignment1Service_sumDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/reverseString" message="tns:IAssignment1Service_reverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/reverseStringResponse" message="tns:IAssignment1Service_reverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinString">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment1Service/joinString" message="tns:IAssignment1Service_joinString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment1Service/joinStringResponse" message="tns:IAssignment1Service_joinString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignment1Service" type="tns:IAssignment1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkPrime">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/checkPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumDigits">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/sumDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/reverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="joinString">
      <soap:operation soapAction="http://tempuri.org/IAssignment1Service/joinString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAssignment1Service" binding="tns:BasicHttpBinding_IAssignment1Service">
      <soap:address location="http://localhost:50418/Assignment1Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>